Makefile
Makefile.in
ChangeLog
aclocal.m4
autom4te.cache
config.log
config.status
configure
gnome-bulk-rename.desktop
po/stamp-it
po/POTFILES
po/.intltool-merge-cache
po/gnome-bulk-rename.pot
po/*.gmo
py-compile
bin/gnome-bulk-rename
intltool-*.in
m4/intltool.m4
gnome-bulk-rename/config.py
.settings
*.pyc
.project
.pydevproject
install-sh
missing
mkinstalldirs
*.tar.gz
*.tar.bz2
